<fieldset class="smallForm">
  <legend class="formLegend"><h2>Информация о враче</h2></legend>
  <table class="table table-striped">
    <tr>
      <td>
        Имя :
      </td>
      <td>
        <%= @doctor.name %>
      </td>
    </tr>
    <tr>
      <td>
        email :
      </td>
      <td>
        <%= @doctor.email %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to 'Вернуться к списку врачей', doctors_path %>
      </td>
    </tr>
  </table>

  <br />

  <!--TODO:Add calendar-->

  <br />


</fieldset>